<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav>
                <section class="container" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </section>
                <h1>best Book</h1>
            </nav>
        </header>
        <div id="menu">
            <ul>
                <li class="options"><a href="/">Home</a></li>
                <li class="options"><a href="/search/new">Search</a></li>
            </ul>
        </div>
        <main>
            <!-- <div class="bookDetails">
                <img src="<%= bookDetails.bookimage %>" alt="">
                <h2><%= bookDetails.bookname %></h2>
                <p><%= bookDetails.bookauthor %></p>
                <p><%= bookDetails.bookdesc %></p>
                <p><%= bookDetails.bookcat %></p>
            </div> -->
            <section class="bookSec">
                <img class="bookCover" src="<%= bookDetails.bookimage %>" alt="">
                <h2 class="bookTitle"><%= bookDetails.bookname %></h2>
                <p class="bookAuthor"><%= bookDetails.bookauthor %></p>
                <p class="bookAuthor"><%= bookDetails.bookcat %></p>
                <textarea class="desc"><%= bookDetails.bookdesc %></textarea>
            <form class="bookDtlForm" action="/update/<%= bookDetails.id %>?_method=put" method="post">
                <input type="text" name="bookimage" class="bookDtl" value="<%= bookDetails.bookimage %>" class="urlText">
                <input type="text" name="bookname" class="bookDtl" value="<%= bookDetails.bookname %>">
                <input type="text" name="bookauthor" class="bookDtl" value="<%= bookDetails.bookauthor %>">
                <input type="text" name="bookdesc" class="bookDtl" value="<%= bookDetails.bookdesc %>">
                <input type="text" name="bookcat" class="bookDtl" value="<%= bookDetails.bookcat %>" class="catigoryText">
                <button class="btnSave" type="submit">Save</button>
                <button class="btnSelect">Edit</button>
                <!-- <button type="submit">Edit</button> -->
                <!-- <a href="/del/<%= bookDetails.id %>">Delete</a> -->
                  <!-- <a href="/test">test</a> -->
                </form>
                <form action="/delete/<%= bookDetails.id %>?_method=delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </section>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>